<ion-view hide-nav-bar="true" padding="true" class="scroll-content-full-image" >
        <ion-content class="login" has-header="false" scroll="false">
			<div class="row">
				<img src="img/logo.png" width="100%" style="margin-top:50px;" />     
           	</div>
           	
           	<div class="row" style="margin-top:20%;">
           		<div class="col">
           			<div style="color:#FFF;font-size:30px;line-height:1.2;text-align:center;width:90%;margin:0 auto;">Découvrez les jeux concours de vos commerces favoris</div>
           		</div>
           	</div>
           	
           	<div class="row" style="margin-top:35%">      
                <button class="btn connexion"><div style="opacity:1;">Créer un compte</div></button> 
			</div>
         
			<div class="row" style="margin-top:2px;">      
			 	<button class="btn register">Connexion</button> 
			</div>
         
        </ion-content>
</ion-view>